<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="headline">
        <h2 style="color:teal">Product Show Page</h2>
        <a href="/products" class="button" style="color:teal">Back</a>
    </div>
    
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>Price: </p>
              <p>84 reamining</p>
              <button type="button" class="btn btn-primary">BUY</button> <br>
              <a href="#" class="btn btn-primary">Edit this product</a> <br>
              <button type="button" class="btn btn-danger">Delete</button> <br>
            </div>
          </div>
    </div>
</body>

</html>